<div>
  <h1>Hi, <%= @identity.email %>!</h1>
  <div>
    You can change your e-mail by visiting the url below:
  </div>
  <div>
    <%= @url %>
  </div>
  <div>
    If you didn't create an account with us, please ignore this.
  </div>
</div>
